[user]
	name = zhuxiaomeng
	email = zhuxiaomengjj@aol.com
[core]
	editor = mvim -f
	excludesfile = /Users/zhuxiaomeng/.gitignore_global
	filemode = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[svn]
	rmdir = true
[push]
	default = simple
